@media only screen and (max-width:1200px) {
    .sec1bg .row {
        display: flex;
        align-items: center;
    }

    .black-rec {
        height: 80px !important;
        padding: 28px 12px !important;
        font-size: 16px !important;
    }

    .black-rec p {
        margin-left: 5px !important;
    }

    .fa-long-arrow-alt-right {
        padding-right: 8px !important;
    }

    .sec6img {
        width: auto !important;
    }

}

@media only screen and (max-width: 992px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .nav-mod {
        padding: 5px;
    }

    .navbar-header {
        margin-right: -15px !important;
    }

    .navbar-header img {
        margin-top: 5px !important;
        width: 50% !important;
        height: auto !important;
    }

    .navbar-nav {
        font-size: 14px;
    }

    .nav>li>a {
        padding: 5px 10px;
    }

    .nav-btn {
        margin-top: 5px !important;
        font-size: 14px !important;
        padding: 8px 12px !important;
    }

    .navbar-default .navbar-nav>.active>a, ul {
        float: right !important;
    }

    .sec1bg, .sec2bg, .sec4bg, .sec8bg {
        padding: 50px 0 !important;
        font-size: 14px !important;
    }

    .sec3bg, .sec5bg, .sec6bg, .sec7bg {
        padding-bottom: 50px !important;
    }

    .mgl-1 {
        margin-left: 0 !important;
    }

    .mgl-3 {
        margin-left: 5px !important;
    }

    .mgb-4 {
        margin-bottom: 20px !important;
    }

    .mgb-5 {
        margin-bottom: 2rem !important;
    }

    .pdl-5 {
        padding-left: 8px !important;
    }

    .common-heading {
        font-size: 28px;
    }

    .subcontent-p {
        font-size: 16px;
    }

    img {
        width: 100% !important;
        margin-bottom: 15px;
    }

    .btn-warning, .btn-default {
        font-size: 16px !important;
        padding: 8px 22px;
    }

    .sec1bg .row, .sec2bg .row {
        display: flex;
        align-items: center;
    }

    .sec2bg .row .col-sm-6 {
        width: 50% !important;
    }

    .sec2bg .btn-default {
        float: right;
    }

    .corner-cal {
        bottom: -35px !important;
        left: 95px !important;
    }

    .white-strip {
        bottom: 80px !important;
        left: 115px !important;
    }

    .white-strip2 {
        bottom: 80px !important;
        left: 135px !important;
    }

    .white-strip3 {
        bottom: 80px !important;
        left: 155px !important;
    }

    .white-strip4 {
        bottom: 80px !important;
        left: 175px !important;
    }

    .blacksqr {
        margin-bottom: 25px;
    }

    .blacksqr p, .orangesqr p {
        font-size: 16px;
    }

    .sec6img {
        width: auto !important;
    }

    .sec6bg .outer-row .inner img {
        width: auto !important;
        margin-bottom: 0 !important;
    }

    .sec7bg .row img {
        margin-bottom: 0 !important;
    }

    .item-sm-cent {
        display: flex;
        justify-content: center;
    }

    .inline-input {
        display: block !important;
        width: 100% !important;
        background-color: #333647;
        border-color: #333333;
        color: white;
        padding: 24px 12px;
        margin-bottom: 25px !important;
    }

    select {
        width: 100% !important;
        padding: 7px 12px !important;
    }

    .sec8h4 {
        font-size: 18px !important;
    }
}


@media only screen and (max-width: 767px) {
    .row {
        margin: 0 !important;
    }

    .mgb-4 {
        margin-bottom: 1.5rem !important;
    }

    .navbar-header img {
        width: 20% !important;
    }

    .navbar-toggle {
        margin-top: 18px;
    }

    .navbar-default .navbar-nav>.active>a, ul {
        float: left !important;
    }

    .nav-btn {
        margin: 10px 0 0 10px !important;
    }

    .sec1bg .row {
        display: block;
        text-align: center;
    }

    .sec2bg .row {
        display: block;
    }

    .sec2bg .row .col-sm-6 {
        width: auto !important;
    }

    .corner-cal {
        bottom: 45px !important;
        left: 39.5% !important;
    }

    .white-strip {
        bottom: 85px !important;
        left: 300px !important;
    }

    .white-strip2 {
        bottom: 110px !important;
        left: 330px !important;
    }

    .white-strip3 {
        bottom: 135px !important;
        left: 360px !important;
    }

    .white-strip4 {
        bottom: 160px !important;
        left: 390px !important;
    }

    .sec8bg .btn-warning {
        width: 100% !important;
    }

    .sec8bg .col-sm-6 {
        padding: 0 !important;
    }

    select {
        margin-bottom: 25px !important;
    }

    .txt-sm-cent {
        text-align: center;
    }

    .sec8bg .row .col-sm-4 .row .col-md-8 {
        margin-left: 0 !important;
    }
}

@media only screen and (max-width: 759px) {
    .white-strip, .white-strip2, .white-strip3, .white-strip4 {
        left: 300px !important;
    }
}

@media only screen and (max-width: 576px) {
    .navbar-toggle {
        margin-top: 14px;
    }

    .navbar-header img {
        width: 30% !important;
    }

    .corner-cal {
        left: 33% !important;
    }

    .white-strip {
        left: 37% !important;
    }

    .white-strip2 {
        left: 43% !important;
    }

    .white-strip3 {
        left: 49% !important;
    }

    .white-strip4 {
        left: 55% !important;
    }

    .black-rec {
        padding: 35px 10px !important;
        font-size: 14px !important;
    }

    .black-rec p {
        margin-left: 5px !important;
    }

    .fa-long-arrow-alt-right {
        margin-top: 2px !important;
    }

    .blacksqr h2, .orangesqr h2 {
        font-size: 22px;
    }

    .blacksqr p, .orangesqr p {
        font-size: 12px;
    }

}

@media only screen and (max-width: 322px) {
    html, body {
        font-size: 14px !important;
    }

    .common-heading {
        font-size: 22px;
    }

    .subcontent-p {
        font-size: 14px;
    }

    .vdashl {
        height: 45px;
    }

    .mgb-4 {
        margin-bottom: 1rem !important;
    }

    .mgl-3 {
        margin-left: 0 !important;
    }

    .btn-warning {
        font-size: 16px !important;
        padding: 8px 18px !important;
    }

    .btn-default {
        font-size: 16px !important;
        padding: 8px 15px !important;
    }

    .sec1bg, .sec2bg, .sec4bg, .sec8bg {
        padding: 20px 0 !important;
    }

    .navbar-header img {
        width: 40% !important;
        height: auto !important;
        margin-bottom: 0 !important;
    }

    .navbar-toggle {
        margin-top: 8px !important;
    }

    .vert-cent {
        padding-bottom: 70px !important;
    }

    .corner-cal {
        bottom: 44px !important;
        left: 70px !important;
    }

    .white-strip {
        left: 80px !important;
    }

    .white-strip2 {
        left: 110px !important;
    }

    .white-strip3 {
        left: 140px !important;
    }

    .white-strip4 {
        left: 170px !important;
    }

    .sec2bg .row .col-md-6 .btn-cent {
        margin-top: 30px !important;
        text-align: center !important;
    }

    .sec2bg .btn-default {
        float: none;
    }

    .black-rec {
        height: 60px !important;
        padding: 20px 8px !important;
        font-size: 14px !important;
    }

    .black-rec p {
        margin-left: 5px !important;
    }

    .fa-long-arrow-alt-right {
        margin-top: 2px !important;
        padding-right: 8px;
    }

    .sec2img, .sec4img {
        margin-top: 30px !important;
    }

    .blacksqr {
        padding: 5px !important;
    }

    .blacksqr p, .orangesqr p {
        font-size: 10px;
    }

    .bwcard {
        padding: 0 !important;
        margin-bottom: 30px;
    }

    .orangebg-overlay {
        padding: 30px 5px;
    }

    .sec6img {
        width: 60% !important;
        outline-offset: -26px
    }

    .sec7bg .row .col-md-4 {
        margin-bottom: 30px !important;
    }
}

@media only screen and (max-width: 282px) {
    .corner-cal {
        bottom: 50px !important;
        left: 50px !important;
    }

    .white-strip {
        bottom: 90px !important;
        left: 60px !important;
    }

    .white-strip2 {
        bottom: 115px !important;
        left: 90px !important;
    }

    .white-strip3 {
        bottom: 140px !important;
        left: 120px !important;
    }

    .white-strip4 {
        bottom: 165px !important;
        left: 150px !important;
    }

    .black-rec {
        height: 50px !important;
        padding: 18px 8px !important;
        font-size: 12px !important;
    }
}